.container {
  position: relative;
  border: solid;
  border-style: solid;
  border-color: aqua;
  
}

.picContainer {
	position: relative;
	border-style: solid;
	border-width: 3px;
	height: 500px;
}

.banner {
	position: fixed;
	border-style: solid;
  	border-color: blue;
  	height: 100px;
  	width: 99%;
  	text-align: center;

}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
  border-style: solid;
  border-color: green;
}
section {
  /* position is static by default */
  margin-left: 200px;
  padding: 5px;
  border-style: solid;
  border-color: orange;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
  border-style: solid;
  border-color: yellow;
  text-align: center;
}


body {
  margin-bottom: 120px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
